<div class="flex flex-column" style="max-width: 200px">
  <button
    class="flex align-items-center justify-content-center w-4rem h-4rem bg-blue-500 font-bold text-white border-round m-2"
    label="Categories" class="inline" pButton style="margin-bottom: 10px"></button>
  <button
    class="flex align-items-center justify-content-center w-4rem h-4rem bg-blue-500 font-bold text-white border-round m-2"
    label="Random digital key" class="inline" pButton style="margin-bottom: 10px"></button>
  <button
    class="flex align-items-center justify-content-center w-4rem h-4rem bg-blue-500 font-bold text-white border-round m-2"
    label="Bestsellers" class="inline" pButton style="margin-bottom: 10px"></button>
  <button
    class="flex align-items-center justify-content-center w-4rem h-4rem bg-blue-500 font-bold text-white border-round m-2"
    label="On sale" class="inline" pButton style="margin-bottom: 10px"></button>
</div>
